<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <section id="sign-up">
  	<div class="wrapper-small">
  		<h1>Sign Up</h1>
			<div class="form-wrapper">
				<%= f.input :email, required: true, placeholder: 'Email', label: false, autofocus: true %>
		    <%= f.input :password, required: true, placeholder: 'Password', label: false %>
		    <%= f.input :password_confirmation, placeholder: 'Password again', label: false, required: true %>
				<div class="form-actions">
			    <%= f.button :submit, "Sign up", class: 'button', style: 'width: 120px' %>
			  </div>
			</div>
  	</div>
	</section>
<% end %>

<!--
<%= render "devise/shared/links" %>

-->