<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <section id="log-in">
  	<div class="wrapper-small">
  		<h1>Log In</h1>
  		<div class="form-wrapper">
  			<%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <div class="form-actions">
			    <%= f.button :submit, "Log in", class: 'button', style: 'width: 120px' %>
			  </div>
  		</div>
			<%= link_to "Sign Up", new_user_registration_path, class: 'extra-links margin-fix' %>
  	</div>
  </section>
<% end %>

