<!DOCTYPE html>
<html>
<head>
  <title>PostIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="wrapper">

		<%= link_to("/") do %>
			<%= image_tag("logo.png") %>
			<h2>THE BOOK QUOTER</h2>
		<% end %>
		<ul id="menu">
			<% if user_signed_in? %>
				<li><%= link_to "New Quote", new_quote_path %></li>
				<li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
			<% else %>
				<li><%= link_to "Log In", new_user_session_path %></li>
			<% end %>
		</ul>

	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</header>

<%= yield %>
	
	<section id="footer">
		<div class="wrapper">
			<ul id="about">
				<li class="foot-header">about</li>
				<li><a href="http://maxperzon.se/" target="_blank">Portfolio</a></li>
				<li><a href="https://maxperzonblog.herokuapp.com/" target="_blank">Blog</a></li>
			</ul>
			<ul id="contact">
				<li class="foot-header">contact</li>
				<li><a href="http://se.linkedin.com/pub/max-perzon/b4/707/441" target="_blank">Linked In</a></li>
				<li><a href="https://github.com/maxperzon" target="_blank">Twitter</a></li>
				<li><a href="https://twitter.com/maxperzon" target="_blank">Github</a></li>
			</ul>
			<p id="copy-r">© 2015 Max Perzon</p>
		</div>
	</section>
</body>
</html>
