<!DOCTYPE html>
<html>
<head>
  <title>PostIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="wrapper">

		<%= link_to("/quotes") do %>
			<%= image_tag("logo.png") %>
			<h2>THE BOOK QUOTER</h2>
		<% end %>
		<ul id="menu">
			<li><%= link_to "New Quote", new_quote_path %></li>
			<li><a href="#">Log Out</a></li>
		</ul>

	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</header>

<%= yield %>
	
	<section id="footer">
		<div class="wrapper">
			<ul id="about">
				<li class="foot-header">about</li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<ul id="contact">
				<li class="foot-header">contact</li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Github</a></li>
			</ul>
			<p id="copy-r">© 2015 Max Perzon</p>
		</div>
	</section>
</body>
</html>
